# Compiled Object files
*.slo
*.lo
*.o
#*.obj needs to be here for models

# Precompiled Headers
*.gch
#*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app
#VS build files
bin/tesseract.lib
*.pdb
*.map
*.exp
source/vcpp/Release
source/vcpp/Debug
source/vcpp/ipch
bin/tesseract.pdb
bin/tesseract.lib
bin/tesseract.exp
