[submodule "bullet3"]
	path = source/extralib/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "angel"]
	path = source/extralib/angelscript/
	url = https://github.com/IngwiePhoenix/AngelScript/
